.shadow {
    box-shadow: -1px 0px 5px 5px rgb(209 203 203 / 34%);
    -webkit-box-shadow: -1px 0px 5px 5px rgb(209 203 203 / 34%);
    -moz-box-shadow: -1px 0px 5px 5px rgba(209, 203, 203, 0.34);
}

.shadow:hover {
    background-color: #f3f6f8;
}